div.form-background{
    @include flex-center();

    h1{
        @include title-styles();
        margin: 0 0 20px 0;
    }

    form{
        background-color: $component-background-color;
        padding: 20px;
        margin: 40px 0 20px;
        border-radius: 10px;

        h2{
            @include title-styles();
        }
    
        input,select{
            @include width-height(100%);
            outline: none;
            border: solid 2px transparent;
            padding: 7px;
            border-radius: 10px;
            font-size: 2.3rem;
    
            &[type='number']::-webkit-inner-spin-button{
                all: unset; 
            }

            &:focus{
                border: solid 2px $default-green;
            }
        }

        select{
            
            &:focus{
                background-color: darken($default-white,10);
            }
        }
        
        .form-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 18px 0;
    
            .form-input{
                @extend .form-container;
                align-items: flex-start;
                
                label{
                    color: $default-white;
                    font-size: 2rem;
                }

                > div{
                    @extend .form-container;
                    align-items: flex-start;
                    gap: 8px 0;
                }
            }
    
            .form-btn{
                display: flex;
    
                button{
                    margin: 0 10px;
                    font-size: 2rem;
                    @include button-styles();
    
                    &:nth-child(1){
                        color: $default-black;
                        @include add-hover($default-green);
                    }
    
                    &:nth-child(2){
                        @include add-hover($default-red);
                        color: $default-white;
    
                        a{
                            color: inherit
                        }
                    }
                }
            }
    
            p{
                color: $default-white;
                font-size: 1.7rem;

                a{
                    color: $primary-color-fonts;
                    font-weight: 600;
                    
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }  
        }
    }

    @include media-query(500px){

        .title-payment-methods{
            font-size: 1.9rem;
        }
    }

    @include media-query(470px){

        form{
            width: 100%;
            border-radius: 0;
        }

        h1{
            font-size: 2.8rem;
        }
    }

    @include media-query(400px){

        h1{
            font-size: 2.5rem;
        }

        form{
            padding: 15px;

            input{
                font-size: 2rem;
            }

            .form-container{

                .form-input{

                    p{
                        font-size: 1.42rem;
                    }
                }
            }
        }
    }

    @include media-query(330px){

        h1{
            font-size: 2.2rem;
        }

        .title-payment-methods{
            font-size: 1.6rem;
        }
    }
}