$application-background-color: rgba(24, 24, 24, 1);
$component-background-color: rgba(29, 2, 73, 1);
$primary-color-fonts: rgba(51, 255, 0, 1);

$default-black: rgba(0,0,0,1);
$default-white: rgba(255,255,255,1);
$default-red: rgba(255,0,0,1);
$default-green: rgba(3, 209, 12, 1);
